<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm"  (ngSubmit)="SaveProfile(profileForm.value)" autocomplete="off" novalidate>
        <div class="form-group" >
          <label for="firstName">First Name:</label>
          <em *ngIf="validateFirstname() && profileForm.controls.firstName.errors.required" >Required</em>
          <em *ngIf="validateFirstname() && profileForm.controls.firstName.errors.pattern" >Must Start with letter</em>
          <input  formControlName="firstName"  id="firstName" type="text" 
          class="form-control" placeholder="First Name..." 
          [ngClass]="{'error':  validateFirstname() }"
         />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <em *ngIf="validateLastname()" >Required</em>
          <input  formControlName="lastName"  id="lastName" type="text"
           class="form-control" placeholder="Last Name..."
           [ngClass]="{'error':  validateLastname() }" />
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" (click)="Cancel()" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>
  